.p-20 {
    padding: 0px;
}

.content {

    UL,
    LI {
        list-style-type: inherit;
        padding: inherit;
        margin: inherit;
    }
}

.bullets {
    list-style-type: disc;
    padding-left: 1rem;
}

.bullets li {
    list-style-type: inherit;
}

.bullets ul {
    list-style-type: inherit;
}

.specs TABLE {
    width: 100%;
    border-collapse: collapse;
}

.specs TABLE thead {
    display: none;
}

.specs .table TR td:last-child {
    text-align: right;
}

​ .table td+td,
.table th+th {
    text-align: right
}

.widget-table {
    width: 100%
}

.widget-table table>tbody>tr>td:nth-of-type(1) {
    /*background: #f1f1f1;*/
    font-weight: 500;
    text-align: left;
}

.widget-table tbody tr:nth-child(even) {
    background-color: #00c3ff17;
}

.widget-table table {
    width: 100%
}

.widget-table table td {
    border: 0px solid #dfdfdf;
    color: #808080;
    line-height: 1.4;
    position: relative;
}

.widget-table table tbody td {
    padding: 4px;
    text-align: right;
}

.widget-table table thead tr th {
    padding: 4px;
    text-align: right;
}

.border {
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: #dfdfdf86;
}

.mySwiper .swiper-slide {
    text-align: center;
}

.mySlide {}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-image {
    background-image: none !important;
    width: auto !important;
}

.lightbox {
    display: none;
}

.max-w-9\/10 {
    max-width: 90%;
}

.max-h-9\/10 {
    max-height: 90%;
}
.imagetools-img{
    background-image: none !important;
}